html {
  scroll-behavior: smooth;
}

.nav-bg {
  background-color: rgb(198, 194, 255);
}

.quote-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.form-container {
  max-height: 81vh;
}

.welcome-heading {
  width: 100%;
  overflow: hidden;
  animation: slide-left 3s;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.welcome-text {
  color: #ffffff;
  animation: color-change 1s 3;
}

@keyframes color-change {
  0% {
    color: rgb(166, 255, 0);
  }
  50% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: #ffffff;
  }
}

.counter-text {
  border: 2px solid rgb(238, 255, 0) !important;
  border-radius: 4px !important;
  box-shadow: 3px 7px 55px 3px rgba(212, 81, 205, 0.63) !important;
}

.fa-facebook-square {
  color: rgb(75, 75, 255);
  font-size: 30px;
}

.facebook-page {
  background-color: rgb(75, 75, 255);
  color: #ffffff;
  font-size: 30px;
}

.map {
  color: rgb(135, 39, 180);
  font-size: 30px;
}

.fa-whatsapp-square {
  color: rgb(16, 221, 16);
  font-size: 30px;
}

.fa-linkedin {
  color: rgb(78, 78, 250);
  font-size: 30px;
}

.fa-youtube-square {
  background-color: rgb(255, 255, 255);
  color: red;
  font-size: 30px;
}

/* media query */

@media screen and (max-width: 575px) {
  .welcome-text {
    font-size: 24px !important;
  }

  .counter-text {
    width: 200px !important;
    margin: auto !important;
  }
}
