<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Etruckload | 32 Feet Container</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Etruckload, Yadav Brothers India, 32 feet container trucks, Etruckload Logistics Pvt. Ltd., 20 feet container trucks, 34 feet container trucks, Closed body container trucks" name="keywords" />
    <meta content=" We have more-than 15+ years experience in road transportation & logistics industry with our closed body container trucks in 20, 32, 34 feet size available from Delhi, Noida, Gurgaon, Ghaziabad, Panipat to all over India." name="description" />

    <!-- Favicon -->
    <link href="./img/etrucklogo.png" rel="icon"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/custom.css">
    
  </head>

  <body>
    
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark">
      
      <div class="row py-2 px-lg-5">
        
        <div class="col text-center text-lg-center">
          <div class="d-inline-flex align-items-center">
            <a class="text-white px-2" href="">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a class="text-white px-2" href="https://www.google.com/maps/place/Etruckload+logistics+pvt+ltd+20,+32+feet+container+trucks+supplier+Delhi%2FNCR+to+all+over+India/@28.6235834,77.0418842,17z/data=!3m1!4b1!4m5!3m4!1s0x390d05a76f5571ed:0x67a0374232915a8c!8m2!3d28.6235834!4d77.0440757" target="_blank">
              <i class="fa fa-map-marker-alt"></i>
            </a>
            <a class="text-white px-2" href="">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="text-white px-2" href="">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="text-white px-2" href="">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="text-white px-2" href="">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="text-white pl-2" href="">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0">
      <nav
        class="
          navbar navbar-expand-lg
          bg-light
          navbar-light
          py-0 py-lg-0
          px-lg-5
        "
      >
      <a class="navbar-brand" href="#">
        <img src="./img/etrucklogo.png" width="100" height="50" style="border-radius: 5px;" class="d-inline-block align-top" alt="Etruckload Logo">
      </a>
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between px-lg-3"
          id="navbarCollapse"
        >
          <div class="navbar-nav m-auto py-0">
            <a href="index.html" class="nav-item nav-link">Home</a>
            <a href="#about-us" class="nav-item nav-link">About Us</a>
            <a href="#our-services" class="nav-item nav-link">Fleets</a>
            <!-- <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                >Pages</a
              >
              <div class="dropdown-menu rounded-0 m-0">
                <a href="blog.htm" class="dropdown-item">Blog Grid</a>
                <a href="single.htm" class="dropdown-item">Blog Detail</a>
              </div>
            </div> -->
            <a href="#contact-us" class="nav-item nav-link">Contact Us</a>
          </div>
          <a href="" class="btn btn-dark quote-btn py-2 px-4 d-none d-lg-block"
            ><i class="fa fa-phone mr-2"></i>Call Us</a
          >
        </div>
      </nav>
    </div>
    <!-- Navbar End -->

    <!--  Quote Request Start -->
    <div class="container-fluid bg-secondary bg-dark">
      <div class="container">
        <div class="row align-items-center text-center">
          <div class="col-lg-7 py-4 py-lg-0">
            <div class="welcome-heading" >
            <h1 class="mb-4 text-center welcome-text">Welcome To Etruckload</h1>
          </div>
          <p class="mb-4 font-weight-bold text-primary text-capitalize">
            We at Etrucksload are commited to serve you on time, your satisfaction is our highest priority. <br>
            <br>
            Kindly post your requirements to us, so we can serve you at earliest.
          </p>
            <div class="row text-center">
              <div class="col-sm-4">
               <h2><span class="text-white mb-2" data-toggle="counter-up">200</span><span class="text-white mb-2" >&nbsp;+</span></h2>
                <h6 class="font-weight-bold mb-4 text-dark bg-white py-2 counter-text">Skilled Experts</h6>
              </div>
              <div class="col-sm-4">
                <h2><span class="text-white mb-2" data-toggle="counter-up">1050</span><span class="text-white mb-2" >&nbsp;+</span></h2>
                <h6 class="font-weight-bold mb-4 text-dark bg-white py-2 counter-text">Happy Clients</h6>
              </div>
              <div class="col-sm-4 col">
                <h2><span class="text-white mb-2" data-toggle="counter-up">9000</span><span class="text-white mb-2" >&nbsp;+</span></h2>
                <h6 class="font-weight-bold mb-4 text-dark bg-white py-2 counter-text">Bookings Completed</h6>
              </div>
            </div>
            <h4 class="text-warning text-uppercase font-weight-bold text-center py-3">
              For Booking
            </h4>
            <h5 class="text-white text-center">Post Your Requirements Here</h5>
            
          </div>
          <div id="form-section" class="col-lg-5">
            <div class="bg-primary py-2 px-4 px-sm-5 ">
              <div id="app" >
                <form v-if="formSubmitted">
                    <div class="form-group text-light text-center form-container mt-1">
                      <div class="form-check form-check-inline mr-2">
                        <input
                          class="form-check-input"
                          type="radio"
                         
                          v-model="load"
                          id="inlineRadio1"
                          value="PL"
                          required
                        />
                        <label class="form-check-label" for="inlineRadio1"
                          >I Want Load</label
                        >
                      </div>
                      <div class="form-check form-check-inline ml-2">
                        <input
                          class="form-check-input"
                          type="radio"
                         
                          v-model="load"
                          id="inlineRadio2"
                          value="PT"
                          required
                        />
                        <label class="form-check-label" for="inlineRadio2"
                          >I Want Truck</label
                        >
                      </div>

                      <div class="form-group text-center text-light mt-2">
                        <label for="exampleFormControlInput1">Phone Number</label>
                        <input
                          type="phone"
                          class="form-control"
                          v-model="phone"
                          id="exampleFormControlInput1"
                          placeholder="Phone Number"
                          required
                        />
                      </div>
        
                      <!-- <div class="form-row mt-3">
                        <div class="form-group col-md-8">
                          <label for="exampleFormControlInput1">Phone Number</label>
                          <input
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Phone Number"
                          />
                        </div>
                        <div class="col-md-4 justify-content-center m-auto pt-lg-3">
                          <button type="button" class="btn btn-outline-light">Get OTP</button>
                        </div>
                      </div> -->
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Load From</label>
                          <input
                            type="email"
                            class="form-control"
                            v-model="loadFrom"
                            id="inputEmail4"
                            placeholder="Load From"
                            required
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Dispatch To</label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="dispatchTo"
                            id="inputPassword4"
                            placeholder="Dispatch To"
                            required
                          />
                        </div>
                      </div>

                      <div class="form-row">
                        <div  class="form-group col-md-6">
                          <label for="exampleFormControlSelect1">Vehicle Type</label>
                          <select class="form-control" id="exampleFormControlSelect1" v-model="vehicleType" required>
                            <option>32 Feet , 7 Ton (32 * 8 * 8)</option>
                            <option>32 Feet , 7 Ton hq (32 * 8 * 9.6)</option>
                            <option>32 Feet , 9 Ton (32 * 8 * 8)</option>
                            <option>32 Feet , 9 Ton hq (32 * 8 * 9.6)</option>
                            <option>32 Feet , 14 Ton (32 * 8 * 8)</option>
                            <option>32 Feet , 14 Ton hq (32 * 8 * 9.6)</option>
                            <option>32 Feet , 17 Ton (32 * 8 * 8)</option>
                            <option>32 Feet , 17 Ton hq (32 * 8 * 9.6)</option>
                            <option>20 feet , 7 ton (20*7*8)</option>
                            <option>19 feet, 7 ton (open dala)</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="exampleFormControlSelect1">Payment Terms</label>
                          <select class="form-control" id="exampleFormControlSelect1"  v-model="paymentTerms" required>
                            <option>90% advance 10% at unloading/pod</option>
                            <option>80% advance 20 % at unload/pod</option>
                            <option>100% freight at unloading</option>
                            <option>15 days credit after bill submission</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group text-center text-light">
                      <label for="exampleFormControlTextarea1">Remarks</label>
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        v-model="remarks"
                      ></textarea>
                    </div>
                   
                      <div class="col text-center align-items-center">
                        <button @click="submit()" type="button" class="btn btn-dark">Submit</button>
                      </div>
                      <p v-if="errors.length" style="color: yellow;">
                        <b>Please correct the following error(s):</b>
                        <ul>
                          <li v-for="error in errors" style="color: yellow;">{{ error }}</li>
                        </ul>
                      </p>
                </form>
                <form v-else>
                  <div class="form-row mt-3">
                    <div class="form-group col-md-8">
                      <h6>Form Submitted</h6>
                      <!-- <label for="exampleFormControlInput1" style="color: white;">ENTER OTP</label>
                      <input
                        type="OTP"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Enter Your OTP"
                      /> -->
                      </div>
                  </div>
                </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Quote Request Start -->

       <!-- About Start -->
       <div id="about-us" class="container-fluid py-5">
        <div  class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
              <img class="img-fluid w-100" src="img/about.jpg" alt="Truck Image" />
              <div class="bg-primary text-dark text-center p-4">
                <h3 class="m-0 text-white">20+ Years Experience</h3>
              </div>
            </div>
            <div class="col-lg-7">
              <h4 class="text-info font-weight-bold">
                  About Us
                </h4>
              <h2 class="mb-2 text-primary">India's Most Trusted & Leading Logistic Service Provider</h2>
              <p class="mb-4 text-black-30">
                We at Etruckload logistics pvt ltd serve from last more than 10 years in road transportation sector in india to fulfill our clients needs. To serve our best in class services we use various type of commercial vehicles like tata chota haathi, mahindra pickup, tata 407, eicher 1109, 20, 22 and 32 feet close body container trucks and 20 to 60 feet long trailers. We etruckload logistics use our tempo, dala body, container trucks and trailers to move all type of  industrial, commercial, household goods from all metro cities to all over india.
                <br>
                <br>
                From 2011 we focus mainly on 32 feet single axle (7 to 9 ton), double axle (14 to 17 ton) and triple axle (20 ton to 24 ton) container body vehicles to ensure safe and secured delivery of delicate items for various industries like electronics, furniture, snacks, automobile, packaging, pharma, export material and many more.
                <br>
                <br>
                We give service guarantee on each shipment because of our well trained field staff, drivers and technology equipped (GPS enabled) fleet.
                <br>
                <br>
                So please contact us without any doubt in our services.
              </p>
              <!-- <div class="d-flex align-items-center pt-2">
                <button
                  type="button"
                  class="btn-play"
                  data-toggle="modal"
                  data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
                  data-target="#videoModal"
                >
                  <span></span>
                </button>
                <h5 class="font-weight-bold m-0 ml-4">Watch How We Serve</h5>
              </div> -->
            </div>
          </div>
        </div>
        <!-- Video Modal -->
        <div
          class="modal fade"
          id="videoModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe
                    class="embed-responsive-item"
                    src=""
                    id="video"
                    allowscriptaccess="always"
                    allow="autoplay"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

    <!-- Services Start -->
    <div id="our-services" class="container-fluid pt-5">
      <div class="container">
        <div class="text-center pb-2">
          <h4 class="text-info font-weight-bold">
            Our Fleets
          </h4>
          <h2 class="mb-4 text-primary">Fleets We Provide</h2>
        </div>
        <div class="row pb-3">
            <div class="col-lg-3 col-md-6 text-center mb-3">
                <div
                  class="
                    d-flex
                    align-items-center
                    justify-content-center
                    bg-danger
                    mb-4
                    p-4
                  "
                >
                  <i class="fa fa-2x fa-truck text-dark pr-3 "></i>
                  <h6 class="text-white font-weight-medium m-0">32 Feet , 7 Ton (32 * 8 * 8)</h6>
                </div>
               
              </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 7 Ton hq (32 * 8 * 9.6)</h6>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 9 Ton (32 * 8 * 8)</h6>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 9 Ton hq (32 * 8 * 9.6)</h6>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 14 Ton (32 * 8 * 8)</h6>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 14 Ton hq (32 * 8 * 9.6)</h6>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 17 Ton (32 * 8 * 8)</h6>
            </div>
            
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">32 Feet , 17 Ton hq (32 * 8 * 9.6)</h6>
            </div>
            
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">20 feet , 7 ton (20*7*8)</h6>
            </div>
           
          </div>
          <div class="col-lg-3 col-md-6 text-center mb-3">
            <div
              class="
                d-flex
                align-items-center
                justify-content-center
                bg-danger
                mb-4
                p-4
              "
            >
              <i class="fa fa-2x fa-truck text-dark pr-3"></i>
              <h6 class="text-white font-weight-medium m-0">19 feet, 7 ton (open dala)</h6>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Services End -->

    <!-- Footer Start -->
    <div id="contact-us" class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
      <div class="row pt-5">
        <div class="col-lg-7 col-md-6">
          <div class="row">
            <div class="col-md-6 mb-5">
              <h3 class="text-primary mb-4">Contact Us</h3>
              <p>
                <i class="fa fa-map-marker-alt mr-2"></i>Etruckload logistics pvt. Ltd. D-4c, Street no. 1, D-block, mohan garden, delhi-110059
              <p><i class="fa fa-phone-alt mr-2"></i>+91 9821824740, 9821824741, 9821824742</p>
              <p><i class="fa fa-envelope mr-2"></i>etruckload@gmail.com</p>
              <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-light btn-social mr-2" href="#"
                ><i class="fab fa-whatsapp"></i
              ></a>
              <a class="btn btn-outline-light btn-social mr-2" href="https://www.google.com/maps/place/Etruckload+logistics+pvt+ltd+20,+32+feet+container+trucks+supplier+Delhi%2FNCR+to+all+over+India/@28.6235834,77.0418842,17z/data=!3m1!4b1!4m5!3m4!1s0x390d05a76f5571ed:0x67a0374232915a8c!8m2!3d28.6235834!4d77.0440757" target="_blank"
              ><i class="fa fa-map-marker-alt"></i
            ></a>
                <a class="btn btn-outline-light btn-social mr-2" href="#"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-outline-light btn-social mr-2" href="#"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-outline-light btn-social mr-2" href="#"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href="#"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
            <div class="col-md-6 mb-5">
              <h3 class="text-primary mb-4">Quick Links</h3>
              <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" href="#"
                  ><i class="fa fa-angle-right mr-2"></i>Home</a
                >
                <a class="text-white mb-2" href="#about-us"
                  ><i class="fa fa-angle-right mr-2"></i>About Us</a
                >
                <a class="text-white mb-2" href="#our-services"
                  ><i class="fa fa-angle-right mr-2"></i>Our Fleets</a
                >
                <a class="text-white" href="#contact-us"
                  ><i class="fa fa-angle-right mr-2"></i>Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 mb-5">
          <h3 class="text-primary mb-4">Newsletter</h3>
          <p>
           Get up-to-date with our offerings and services by simply subscribing to our Newsletter
          </p>
          <div class="w-100">
            <div class="input-group">
              <input
                type="text"
                class="form-control border-light"
                style="padding: 30px"
                placeholder="Your Email Address"
              />
              <div class="input-group-append">
                <button class="btn btn-primary px-4">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div
      class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
      style="border-color: #3e3e4e !important"
    >
      <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
          <p class="m-0 text-white">
            &copy; <a href="#">Etruckload Logistics Pvt. Ltd.</a> | All Rights Reserved | Designed & Developed
            by <a href="https://github.com/nitinanand58">Nitin Anand</a>
          </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
          <ul class="nav d-inline-flex">
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">FAQs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white py-0" href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-sm btn-primary back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
      var app = new Vue({
  el: '#app',
  data: {
    errors: [],
    message: 'Hello Vue!',
    formSubmitted: 'false',
    load:null,
    phone:null,
    loadFrom:null,
    dispatchTo:null,
    vehicleType:null,
    paymentTerms:null,
    remarks:null,
  },
  methods: {
    submit(){
 
var formdata = new FormData();
formdata.append("load", this.load);
formdata.append("phone", this.phone);
formdata.append("loadFrom", this.loadFrom);
formdata.append("dispatchTo", this.dispatchTo);
formdata.append("vehicleType", this.vehicleType);
formdata.append("paymentTerms", this.paymentTerms);
formdata.append("remarks", this.remarks);


var requestOptions = {
  method: 'POST',
  body: formdata,
};

      this.errors = [];
      var errors = false;
      
      if (!this.phone) {
        this.errors.push('Phone is required.');
        errors = true
      }
      if (!this.loadFrom) {
        this.errors.push('Load From required.');
        errors = true
        
      }
      if (!this.dispatchTo) {
        this.errors.push('Dispatch To is required.');
        errors = true
      }
      if (!this.vehicleType) {
        this.errors.push('Vehicle Type is required.');
        errors = true
      }
      if (!this.paymentTerms) {
        this.errors.push('Payment Terms is required.');
        errors = true
      }

    if(errors){
      return
    }

     fetch("https://crm.etruckloads.in/api/web-leads", requestOptions)
     .then(response => response.text())
     .then(result => console.log(result))
     .catch(error => console.log('error', error));
     this.formSubmitted = null
    }
  },
})
    </script>
  </body>
</html>
